<div>
  <p>Get your fortune told here!</p>
</div>
<div>
  <img class="cookie" src="images/fortune-cookie.png" alt="Fortune Cookie">
</div>
<div class="gobutton">
  <a class="link_text" href="/result" target="_blank">GO</a>
</div>
