<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      html {
        min-height: 100%;
      }
      body {
        min-height: 100%;
        margin: 0px;
        position: relative;
        background-color: rgba(227, 48, 48, 1.0);
        color: rgba(255, 255, 255, 1.0);
      }
      a {
        text-decoration: none;
      }
      .header {
        text-align: left;
        font-size: 28px; 
        padding: 8px;
      }
      .attrib {
        text-align: right;
        font-size: 14px;
        padding: 20px;
        color: rgba(255, 54, 54, 1.0);
      }
      .tablestyle {
        color: rgba(255, 54, 54, 1.0);
        background-color: rgba(255, 243, 148, 1.0);
        display: flex;
        justify-content: space-between;
      }
      .cookie {
        width: 200px;
        height: 200px;
      }
      .gobutton {
        display: flex;
        width: 200px;
        background-color: rgba(220, 220, 220, 1.0);
        align-items: center;
        border-width: 30px;
        padding: 15px;
        border-color: rgba(255, 255, 255, 1.0);

      }
      .link_text {
        text-align: center;
        flex-grow: 1;
        font-size: 50px;
        color: rgba(255, 255, 255, 1.0);
      }
    </style>
  </head>

  <body>
    <div class="tablestyle">
      <div class="header">
        FORTUNE TELLER
      </div>
      <div class="tableright">
        <a class="attrib" href="https://www.vecteezy.com/free-png/fortune-cookie">Fortune Cookie PNGs by Vecteezy</a>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
