<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      body {
        margin: 0px;
        position: relative;
        background-color: rgba(227, 48, 48, 1.0);
        color: rgba(255, 255, 255, 1.0);
        }
      .header {
        text-align: left;
        font-size: 28px; 
        padding: 8px;
      }
      .attrib {
        text-align: right;
        font-size: 14px;
        padding: 8px;
      }
      .tablestyle {
        color: rgba(255, 54, 54, 1.0);
        background-color: rgba(255, 243, 148, 1.0);
        display: flex;
        justify-content: space-between;
      }
    </style>
  </head>

  <body>
    <div class="tablestyle">
      <div class="header">
        FORTUNE TELLER
      </div>
      <div class="attrib">
        <a href="https://www.vecteezy.com/free-png/fortune-cookie">Fortune Cookie PNGs by Vecteezy</a>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
